{% extends 'base.html.twig' %}

{% block body %}

{% include "es_nav.html.twig" %}

<!-- BANNER -->
<section class="fullwidth_container">
	<div id="carousel-example-generic" class="carousel slider" data-ride="carousel">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="firstinfo">
						<h1><strong>LONDRES,<br/> COMO TE MERECES</strong></h1>
						<h2><em>Nos adaptamos a <span>tí</span></em></h2>
						<!-- Indicators -->
						<ol class="carousel-indicators">
							<li data-target="#carousel-example-generic" data-slide-to="0" class="active"><a href="">"<em>Contratación de <span>Tours</span><span>Privados</span> para grupos </em>"</a></li>
							<li data-target="#carousel-example-generic" data-slide-to="1"></li>
							<li data-target="#carousel-example-generic" data-slide-to="2"><a href="">"<em>Oferta de Tours cada <span>semana</span></em> "</a></li>
							<li data-target="#carousel-example-generic" data-slide-to="3"><a href=""></a></li>
							<li data-target="#carousel-example-generic" data-slide-to="4"><a href="">"<em><span>Traslados</span> a los diferentes Aeropuertos</em> "</a></li>
							<li data-target="#carousel-example-generic" data-slide-to="5"><a href=""></a></li>
							<li data-target="#carousel-example-generic" data-slide-to="6"><a href="">"<em>Tours <span>Gratuitos</span> y mucho más</em> "</a></li>
							<li data-target="#carousel-example-generic" data-slide-to="7"><a href=""></a></li>
							<li data-target="#carousel-example-generic" data-slide-to="8"><a href=""></a></li>
						</ol>
					</div>
				</div>
			</div>
		</div>

		<!-- Wrapper for slides -->
		<div class="carousel-inner itemWrap" role="listbox">
			<div class="item active">
				<img class="picBanner" src="{{ asset('/tourlondres-symfony/web/images/slider1.jpg') }}" alt="">
			</div>
			<div class="item">
				<img class="picBanner" src="{{ asset('/tourlondres-symfony/web/images/slider2.jpg') }}" alt="">
			</div>
			<div class="item">
				<img class="picBanner" src="{{ asset('/tourlondres-symfony/web/images/slider3.jpg') }}" alt="">
			</div>
			<div class="item">
				<img class="picBanner" src="{{ asset('/tourlondres-symfony/web/images/slider4.jpg') }}" alt="">
			</div>
			<div class="item">
				<img class="picBanner" src="{{ asset('/tourlondres-symfony/web/images/slider5.jpg') }}" alt="">
			</div>
			<div class="item">
				<img class="picBanner" src="{{ asset('/tourlondres-symfony/web/images/slider6.jpg') }}" alt="">
			</div>
			<div class="item">
				<img class="picBanner" src="{{ asset('/tourlondres-symfony/web/images/slider7.jpg') }}" alt="">
			</div>
			<div class="item">
				<img class="picBanner" src="{{ asset('/tourlondres-symfony/web/images/slider8.jpg') }}" alt="">
			</div>
			<div class="item">
				<img class="picBanner" src="{{ asset('/tourlondres-symfony/web/images/slider9.jpg') }}" alt="">
			</div>
		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div> <!--/carrousel -->
</section> <!--/full-width container-->
<!-- BANNER ENDS -->

<div class="bigSeparator"></div>

<!-- MAIN CONTENT -->
<section class="container mainContentWrap">
	<div class="row">
		<div class="col-md-8">
			<div class="mainContent">
				<h1>Quienes Somos</h1>
				<p>Tour Londres es un nuevo proyecto que ha surgido a raíz de un grupo de jóvenes profesionales de diferentes ámbitos, expertos en el sector turístico y con años de experiencia en Londres.</p>
			    </br>
				<p>Nuestro objetivo es ofrecer tours de calidad en español, paseando por los diferentes rincones de la capital de Inglaterra, contando la historia a través de anécdotas que permiten descubrirla de una manera divertida y amena.</p>
				</br>
				<p>Nuestra experiencia nos ha demostrado que la mejor forma de conocer Londres es involucrándose en la vida diaria de la ciudad. Por ello ofrecemos nuestros servicios adaptándonos a todo tipo de edades y presupuestos. Descubre esta maravillosa ciudad junto a nosotros de una forma cercana y sacándole el mayor partido posible a tu esta estancia en Londres.</p>
			</div>
		</div>
		<div class="col-md-4">
			{% include "sidebar.html.twig" %}
		</div>
	</div>
</section>
<!-- /MAIN CONTENT -->

{% endblock %}



