<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Admin Panel{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ '/tourlondres-symfony/web/bootstrap/css/bootstrap.css' }}"/>
            <link rel="stylesheet" type="text/css" media="screen" href="{{ '/tourlondres-symfony/web/css/style.css' }}"/>
            <link rel="stylesheet" type="text/css" media="screen" href="{{ '/tourlondres-symfony/web/css/color.css' }}"/>
            <link rel="stylesheet" type="text/css" media="screen" href="{{ '/tourlondres-symfony/web/css/responsive.css' }}"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('/tourlondres-symfony/web/images/favicon.png') }}" />
        <!-- jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <!-- TinyEditor -->
        <script type="text/javascript" src="{{ asset('/tourlondres-symfony/web/tinymce/tinymce.min.js') }}"></script>
        <!-- Add mousewheel plugin (this is optional) -->
        <script type="text/javascript" src="{{ asset('/tourlondres-symfony/web/fancybox/lib/jquery.mousewheel-3.0.6.pack.js') }}"></script>
        <!-- Add fancyBox -->
        <link rel="stylesheet" href="{{ asset('/tourlondres-symfony/web/fancybox/source/jquery.fancybox.css?v=2.1.5') }}" type="text/css" media="screen" />
        <script type="text/javascript" src="{{ asset('/tourlondres-symfony/web/fancybox/source/jquery.fancybox.pack.js?v=2.1.5') }}"></script>
        <!-- Optionally add helpers - button, thumbnail and/or media -->
        <link rel="stylesheet" href="{{ asset('/tourlondres-symfony/web/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5') }}" type="text/css" media="screen" />
        <script type="text/javascript" src="{{ asset('/tourlondres-symfony/web/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5') }}"></script>
        <script type="text/javascript" src="{{ asset('/tourlondres-symfony/web/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6') }}"></script>
        <link rel="stylesheet" href="{{ asset('/tourlondres-symfony/web/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7') }}" type="text/css" media="screen" />
        <script type="text/javascript" src="{{ asset('/tourlondres-symfony/web/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7') }}"></script>
    </head>
    <body class="adminPanel">

        <div class="admin_menu">
            <div class="logo">
                <img src="{{ asset('/tourlondres-symfony/web/images/logo.png') }}" class="img-responsive" alt="TOUR LONDRES"/>
            </div>
            
            <nav class="adminNav">
                <h3>Tour Londres</h3>
                {{ knp_menu_render('TourLondresDashboardBundle:Builder:adminMenu') }}
            </nav>
        </div>
        {# <div class="separator"></div> #}
        <div class="admin_main">
            {% block body %}{% endblock %}
        </div>
        
 
        {% block javascripts %}
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="{{ asset('/tourlondres-symfony//web/bootstrap/js/bootstrap.js') }}"></script>
            <!-- Controller -->
            <script src="{{ asset('/tourlondres-symfony//web/js/control.js') }}"></script>
        {% endblock %}

        
    </body>
</html>
