<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Admin Panel{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ '/tourlondres-symfony/web/bootstrap/css/bootstrap.css' }}"/>
            <link rel="stylesheet" type="text/css" media="screen" href="{{ '/tourlondres-symfony/web/css/style.css' }}"/>
            <link rel="stylesheet" type="text/css" media="screen" href="{{ '/tourlondres-symfony/web/css/color.css' }}"/>
            <link rel="stylesheet" type="text/css" media="screen" href="{{ '/tourlondres-symfony/web/css/responsive.css' }}"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('/tourlondres-symfony/web/images/favicon.png') }}" />
        <!-- jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <!-- TinyEditor -->
        <script type="text/javascript" src="{{ asset('/tourlondres-symfony/web/tinymce/tinymce.min.js') }}"></script>
    </head>
    <body class="adminPanel">

        {% include "admin_header.html.twig" %}

        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <nav class="adminNav">
                        <h3>Administrar</h3>
                        <ul>
                            <li><a {% if toursNav is defined %} class="{{ toursNav }}" {% endif %} href="{{ path('tourlondres_dashboard_admintours_list') }}">Contenido Tours</a></li>
                            <li><a {% if bannersNav is defined %} class="{{ bannersNav }}" {% endif %} href="{{ path('tourlondres_dashboard_banner_list') }}">Banners</a></li>
                            <li><a {% if preciosNav is defined %} class="{{ preciosNav }}" {% endif %} href="{{ path('tourlondres_dashboard_admintours_list') }}">Precios</a></li>
                            <li><a {% if TyCNav is defined %} class="{{ TyCNav }}" {% endif %} href="{{ path('tourlondres_dashboard_admintours_list') }}">Términos y Condiciones</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-9 adminContent">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>

        {% block javascripts %}
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="{{ asset('/tourlondres-symfony//web/bootstrap/js/bootstrap.js') }}"></script>
            <!-- Controller -->
            <script src="{{ asset('/tourlondres-symfony//web/js/control.js') }}"></script>
        {% endblock %}

        
    </body>
</html>
