{% extends "::base.html.twig" %}

{% block title %}TourLondresTourBundle:Price:show{% endblock %}

{% block body %}

<section class="fullwidth_container banner">
	<img src="/tourlondres-symfony/web/images/prices.jpg"/>
	<div class="ribbon_tour">
		<p>Table of Prices<br/>
			<span class="tourtype">
				Private Tours
			</span>
		</p>
	</div>
</section>

<div class="bigSeparator"></div>

<!-- MAIN CONTENT -->
<section class="container mainContentWrap">
	<div class="row">
		<div class="col-md-8">
			<div class="mainContent">
				<h3>Our Prices: </h3>
				{% for pri in prices %}
					<table>
					 	<thead>
					    	<tr>
					     		<th>{{ pri.enaa }}</th>
					      		<th>{{ pri.enab }}</th>
					    	</tr>
					  	</thead>
					  	<tbody>
					    	<tr>
					      		<td>{{ pri.enba }}</td>
					      		<td>{{ pri.enbb }}</td>
					    	</tr>
					    	<tr>
					      		<td>{{ pri.enca }}</td>
					      		<td>{{ pri.encb }}</td>
					    	</tr>
					    	<tr>
					      		<td>{{ pri.enda }}</td>
					      		<td>{{ pri.endb }}</td>
					    	</tr>
					    	<tr>
					      		<td>{{ pri.enea }}</td>
					      		<td>{{ pri.eneb }}</td>
					    	</tr>
					  	</tbody>
					</table>
					{{ pri.enbody|raw }}
				{% endfor %}
			</div>
		</div>
		<div class="col-md-4">
			{% include "sidebar.html.twig" %}
		</div>
	</div>
</section>
<!-- /MAIN CONTENT -->
<script>

	//Weekly Tours meeting point info
	$('.ribbon_tour').animate({width : '45%'},2500, function(){ $('.ribbon_tour p').fadeTo('slow',1) });

</script>

{% endblock %}
